name: Export CPI Package as ZIP

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Enter CPI Package Name"
        required: true
        default: "Make"

jobs:
  export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install tools
        run: sudo apt-get install -y curl jq

      - name: Download iFlows ZIP from CPI
        env:
          TMN: ${{ secrets.DEV_TMN_HOST }}
          OAUTH: ${{ secrets.DEV_OAUTH_HOST }}
          CLIENT_ID: ${{ secrets.DEV_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.DEV_CLIENT_SECRET }}
          PACKAGE: ${{ github.event.inputs.package }}
        run: |
          echo "== Getting OAuth Token =="
          TOKEN=$(curl -s \
              --data "grant_type=client_credentials&client_id=$CLIENT_ID&client_secret=$CLIENT_SECRET" \
              "$OAUTH/oauth/token" | jq -r '.access_token')

          echo "== Fetching Artifacts for Package: $PACKAGE =="
          ARTIFACTS=$(curl -s \
            -H "Authorization: Bearer $TOKEN" \
            "$TMN/api/v1/IntegrationPackages('$PACKAGE')/Artifacts")

          echo $ARTIFACTS | jq .

          IDS=$(echo "$ARTIFACTS" | jq -r '.d.results[].Id')
          VERSIONS=$(echo "$ARTIFACTS" | jq -r '.d.results[].Version')

          mkdir -p cpi-zips/$PACKAGE

          paste <(echo "$IDS") <(echo "$VERSIONS") | while read ID VER; do
            echo "Downloading $ID version $VER ..."
            curl -s -H "Authorization: Bearer $TOKEN" \
              -o "cpi-zips/$PACKAGE/${ID}_${VER}.zip" \
              "$TMN/api/v1/IntegrationDesigntimeArtifacts(Id='$ID',Version='$VER')/%24value"
          done

      - name: Commit & Push ZIP Backup
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add cpi-zips/
          git commit -m "ZIP backup for package ${{ github.event.inputs.package }}" || echo "No changes"
          git push











