name: Sync Specific CPI Package

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Enter CPI package name"
        required: true
        default: "Make"

jobs:
  sync:
    runs-on: ubuntu-latest

    container:
      image: engswee/flashpipe:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync CPI artifacts for selected package
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}

          # Package to sync
          package-id: logan

          # Folder structure
          dir-artifacts-relative: cpi-artifacts/${{ github.event.inputs.package }}

          git-commit-msg: "Sync package ${{ github.event.inputs.package }} from CPI"

          sync-package-details: true








