name: Full Tenant Backup - CPI

on:
  workflow_dispatch:

jobs:
  full_backup:
    runs-on: ubuntu-latest

    container:
      image: engswee/flashpipe:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Backup ALL packages from CPI
        uses: engswee/flashpipe-action/full-sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}

          # This backs up ALL PACKAGES and ALL ARTIFACTS
          dir-artifacts-relative: cpi-full-backup

          git-commit-msg: "Full tenant backup from CPI"

