name: Full Tenant Backup

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  full_backup:
    runs-on: ubuntu-latest

    container:
      image: engswee/flashpipe:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Backup ALL CPI Packages
        run: |
          flashpipe_full_sync \
            --tmn-host "${{ secrets.DEV_TMN_HOST }}" \
            --oauth-host "${{ secrets.DEV_OAUTH_HOST }}" \
            --oauth-clientid "${{ secrets.DEV_CLIENT_ID }}" \
            --oauth-clientsecret "${{ secrets.DEV_CLIENT_SECRET }}" \
            --dir-artifacts-relative "cpi-artifacts" \
            --git-commit-msg "Full tenant backup from CPI"


