name: Download CPI Package ZIPs

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Enter CPI package name"
        required: true
        default: "Make"

jobs:
  download:
    runs-on: ubuntu-latest

    container:
      image: engswee/flashpipe:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download ZIPs for selected package
        env:
          TMN_HOST: ${{ secrets.DEV_TMN_HOST }}
          OAUTH_HOST: ${{ secrets.DEV_OAUTH_HOST }}
          CLIENTID: ${{ secrets.DEV_CLIENT_ID }}
          CLIENTSECRET: ${{ secrets.DEV_CLIENT_SECRET }}
          PACKAGE: ${{ github.event.inputs.package }}
        run: |
          mkdir -p cpi-zips/$PACKAGE

          flashpipe_download_package \
            --tmn-host "$TMN_HOST" \
            --oauth-host "$OAUTH_HOST" \
            --clientid "$CLIENTID" \
            --clientsecret "$CLIENTSECRET" \
            --package-id "$PACKAGE" \
            --output-dir cpi-zips/$PACKAGE

      - name: Commit ZIP files
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add cpi-zips
          git commit -m "Downloaded ZIPs for package ${{ github.event.inputs.package }}" || echo "No changes"
          git push










