name: Deploy Selected CPI Package
 
on:
  workflow_dispatch:
    inputs:
      package:
        description: "Select the CPI package to deploy"
        required: true
        type: choice
        options:
          - CPIPracticeflows
          - EmailreceiverxlsxToXML
          - cicdcheck1
          - deploycheck
 
jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: engswee/flashpipe:latest
 
    steps:
      - uses: actions/checkout@v4
 
      #####################################################
      # PACKAGE: CPIPracticeflows
      #####################################################
      - name: 'Update CPIPracticeflows'
        if: ${{ github.event.inputs.package == 'CPIPracticeflows' }}
        uses: engswee/flashpipe-action/update/package@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-file-relative: cpi-artifacts/CPIPracticeflows/CPIPracticeflows.json
 
      - name: 'Deploy CPIPracticeflows artifacts'
        if: ${{ github.event.inputs.package == 'CPIPracticeflows' }}
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-id: CPIPracticeflows
          target: tenant
          dir-artifacts-relative: cpi-artifacts/CPIPracticeflows
 
      #####################################################
      # PACKAGE: EmailreceiverxlsxToXML
      #####################################################
      - name: 'Update EmailreceiverxlsxToXML'
        if: ${{ github.event.inputs.package == 'EmailreceiverxlsxToXML' }}
        uses: engswee/flashpipe-action/update/package@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-file-relative: cpi-artifacts/EmailreceiverxlsxToXML/EmailreceiverxlsxToXML.json
 
      - name: 'Deploy EmailreceiverxlsxToXML artifacts'
        if: ${{ github.event.inputs.package == 'EmailreceiverxlsxToXML' }}
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-id: EmailreceiverxlsxToXML
          target: tenant
          dir-artifacts-relative: cpi-artifacts/EmailreceiverxlsxToXML
 
      #####################################################
      # PACKAGE: cicdcheck1
      #####################################################
      - name: 'Update cicdcheck1'
        if: ${{ github.event.inputs.package == 'cicdcheck1' }}
        uses: engswee/flashpipe-action/update/package@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-file-relative: cpi-artifacts/cicdcheck1/cicdcheck1.json
 
      - name: 'Deploy cicdcheck1 artifacts'
        if: ${{ github.event.inputs.package == 'cicdcheck1' }}
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-id: cicdcheck1
          target: tenant
          dir-artifacts-relative: cpi-artifacts/cicdcheck1
 
      #####################################################
      # PACKAGE: deploycheck
      #####################################################
      - name: 'Update deploycheck'
        if: ${{ github.event.inputs.package == 'deploycheck' }}
        uses: engswee/flashpipe-action/update/package@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-file-relative: cpi-artifacts/deploycheck/deploycheck.json
 
      - name: 'Deploy deploycheck artifacts'
        if: ${{ github.event.inputs.package == 'deploycheck' }}
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-id: deploycheck
          target: tenant
          dir-artifacts-relative: cpi-artifacts/deploycheck
