name: Deploy Single CPI Package to Tenant
 
on:
  workflow_dispatch:
    inputs:
      package:
        description: "Enter package name to deploy"
        required: true
 
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Deploy package using FlashPipe
        env:
          TMN_HOST: ${{ secrets.DEV_TMN_HOST }}
          OAUTH_HOST: ${{ secrets.DEV_OAUTH_HOST }}
          CLIENT_ID: ${{ secrets.DEV_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.DEV_CLIENT_SECRET }}
        run: |
          PKG="${{ github.event.inputs.package }}"
          
          docker run --rm \
            --user $(id -u):$(id -g) \
            -v "${GITHUB_WORKSPACE}:/workspace" \
            -w /workspace \
            -e TMN_HOST="$TMN_HOST" \
            -e OAUTH_HOST="$OAUTH_HOST" \
            -e CLIENT_ID="$CLIENT_ID" \
            -e CLIENT_SECRET="$CLIENT_SECRET" \
            engswee/flashpipe:latest \
            flashpipe deploy \
              --tmn-host "$TMN_HOST" \
              --oauth-host "$OAUTH_HOST" \
              --oauth-clientid "$CLIENT_ID" \
              --oauth-clientsecret "$CLIENT_SECRET" \
              --package-id "$PKG" \
              --dir-artifacts "cpi-artifacts/$PKG" \
              --deploy-artifacts
